@model IEnumerable<LocationVoiture.Models.Reservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TenantDashboard.cshtml";
}

<div class="mt-2">
    <h2>Reservations</h2>

    <p>
        @Html.ActionLink(LocationVoiture.Resources.most.create, "Create")
    </p>
    <hr />
    @Html.Partial("ListReservations", Model)
</div>