
@model IEnumerable<LocationVoiture.Models.Reservation>

@{
    Layout = "~/Views/Shared/_OwnerDashboard.cshtml";
}

<div class="mt-2">
    <h2>Reservations</h2>
    <hr />

    @Html.Partial("ListReservations", Model)
</div>