@model IEnumerable<LocationVoiture.Models.Voiture>

@{
    Layout = "~/Views/Shared/_OwnerDashboard.cshtml";
}


<div class="m-5">
    <p>
        @Html.ActionLink(LocationVoiture.Resources.most.create, "Create")
    </p>
    <hr />
    @Html.Partial("ListeVoiture", Model)

</div>