

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper d-flex">
    <div class="sideMenu bg-mattBlackLight">
        <div class="sidebar">
            <ul class="navbar-nav mt-3">
                <li class="nav-item">
                    <a href="~/AdminDashboard" class="nav-link px-2">
                        <i class="material-icons icon">
                            dashboard
                        </i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/ApplicationUsers/Index" class="nav-link px-2">
                        <i class="material-icons icon">
                            person
                        </i>
                        <span class="text">Client</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/FavoriteLists/Index" class="nav-link px-2">
                        <i class="material-icons icon">
                            favorite
                        </i>
                        <span class="text">Client</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/FavoriteLists/Index" class="nav-link px-2">
                        <i class="material-icons icon">
                            thumb_down
                        </i>
                        <span class="text">Client</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2">
                        <i class="material-icons icon">
                            bookmark_border
                        </i><span class="text">Produits</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2">
                        <i class="material-icons icon">
                            view_module
                        </i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2">
                        <i class="material-icons icon">
                            library_books
                        </i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2">
                        <i class="material-icons icon">

                            supervisor_account
                        </i>
                        <span class="text">Roles</span>
                    </a>
                </li>


            </ul>
        </div>
    </div>
    <div class="content">
        <main>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
    </div>
</div>

@section chartSection{
    @RenderSection("chart", required: false)
}
