@{
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="container mt-3">
    <h2>dashboard</h2>

    <p>
        Top Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery TutorialTop Tutorials
        HTML Tutorial
        CSS Tutorial
        JavaScript Tutorial
        How To Tutorial
        SQL Tutorial
        Python Tutorial
        W3.CSS Tutorial
        Bootstrap Tutorial
        PHP Tutorial
        Java Tutorial
        C++ Tutorial
        jQuery Tutorial
    </p>
</div>